@model Bank.Models.Account

@{
    ViewData["Title"] = "Edit Account";
}

<h1>Edit Account Balance</h1>

<h4>Account: @Model.AccountNumber</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            @* These fields are hidden because they should not be changed. *@
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CustomerId" />
            <input type="hidden" asp-for="AccountNumber" />

            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}