@{
    ViewData["Title"] = "Transactions";
}

<h1>Select a Transaction Type</h1>
<p>Choose the type of transaction you wish to perform.</p>
<hr />

<div class="list-group" style="max-width: 400px;">
    
    @* Link to the new "Select Account" page, passing the transaction type *@
    <a asp-action="SelectAccount" asp-route-transactionType="Deposit" class="list-group-item list-group-item-action list-group-item-success">
        <h4><i class="bi bi-plus-circle"></i> Deposit</h4>
        <p class="mb-0">Add funds to an existing account.</p>
    </a>
    
    <a asp-action="SelectAccount" asp-route-transactionType="Withdrawal" class="list-group-item list-group-item-action list-group-item-danger">
        <h4><i class="bi bi-dash-circle"></i> Withdrawal</h4>
        <p class="mb-0">Remove funds from an existing account.</p>
    </a>
    
    <a href="#" class="list-group-item list-group-item-action list-group-item-info disabled">
        <h4><i class="bi bi-arrow-left-right"></i> Transfer</h4>
        <p class="mb-0">Move funds between two accounts. (Coming soon)</p>
    </a>

</div>